body {
  margin: 40px;
  font-size: 24px;
  font-family: 'Mulish', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  margin-top: 1.2em;
}

main {
  margin: auto;
  max-width: 80ch;
}

li {
  margin-bottom: .5em;
}

pre[class*="language-"] {
  margin: 2em 0;
}